doctype
html
    head
        meta(charset="UTF-8")
        title pug
        link(rel="stylesheet" href="#")
    body
        table.table.table-stripped.table-hovered
            tr.table__tr
                th.table__head(colspan="4")
            tr.table__tr
                th.table__th User name
                th.table__th First name
                th.table__th Last name
                th.table__th Day of birthday
            tr.table__tr
                td.table__td flamps
                td.table__td Vitalii
                td.table__td Baitaliyk
                td.table__td 18.03.1986
            tr.table__tr
                td.table__td ihorox
                td.table__td Ihor
                td.table__td Sadovskyi
                td.table__td 18.06.1997
            tr.table__tr
                td.table__td yaskrava
                td.table__td Inna
                td.table__td Tomaschuk
                td.table__td 21.03.1990
            tr.table__tr
                td.table__td sergeo
                td.table__td Sergey
                td.table__td Sokaluk
                td.table__td 23.12.1992
            tr.table__tr
                td.table__td sanchos
                td.table__td Alex
                td.table__td Solazo
                td.table__td 30.09.1989


