div.content
    button.but_save Save
    table.table-top_menu
        tr.table_tr
            td.table_font.table_td.Venue-Information
                a.a_decoration(href='#') Venue Information
            td.table_font.table_td.Features
                a.a_decoration(href='#') Features
            td.table_font.table_td.POS-System
                a.a_decoration(href='#') POS System
            td.table_font.table_td.Media
                a.a_decoration(href='#') Media
            td.table_font.table_td.Beacons
                a.a_decoration(href='#') Beacons
    button.but-venue_list Venue list
    div.pos_system
        div.container_pos-system
            form
                p Current POS aggregator*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Employee ID Method*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Aggregator Location ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Order Type ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Employee ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Order Type ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Revenue Center ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Tender Type ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option Promotion Discount ID*
                input.input-pos_system(type='text' placeholder='  Text')
                p POS Option FreeDrinks Discount ID*
                input.input-pos_system(type='text' placeholder='  Text')
