meta(charset='UTF-8')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,500')
link(rel='stylesheet' href='../scss/normilize.css')
link(rel='stylesheet' href='../css/styles.css')
title Qorum
link(rel='icon' href='../icons/grupe-2/qorum-icon.png')