header.header.box-size
    div.header-elements
        div.header-aside
            a(href='#')
                img.img-shape(src='../icons/shape/shape.svg')
            a(href='#')
                img.img-history(src='../icons/history/history.svg')
            button.but-sing_out Sing out
            a(href='#')
                img.img-grupe-7(src='../icons/grupe-7/group-7.svg')
        div
            a(href='#')
                img.img-combined-shape(src='../icons/combined-shape/combined-shape.svg')