
body{
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/subtlenet2.png);
    font: 1em Tahoma,Arial;
    }
.table, .table__td {border: 1px solid #69684b;
}
.table {
    width: 450px;
    border-collapse: collapse;
    margin: auto;
    display: table;
}
.table2-header{
    width: 444px;
    font-size: 1.25em;
    margin: 20px auto 0;
    border: 2px solid #69684b;
    border-bottom: 0;
    padding: 2px;
    text-align: center;
    background-color: #faff96;
    font-weight: bold;
}
.table .table__td, .table .table__th {
    height: 20px;
    padding: 3px;
}
.table__th {
    border: 2px solid #69684b;
    background-color: #fcffd6;
    font-weight: bold;
}
.table__head {
    background-color: #faff96;
    font-size: 1.25em;
    border: 2px solid #69684b;
}
.table__tr{
    text-align: center;
    background-color: #fff;
}
.table-hovered .table__tr:hover {
    background: #2fc5ff !important;
    cursor: pointer;
}
.table-hovered .table__tr:active{
    background: #b43a3f !important;
}
.table-stripped .table__tr:nth-child(even){
    background: #a7eee0;
}
.table-stripped .table__tr:nth-child(odd){
    background-color: #7cff7a;
}
.table-display-td-th .table__td, .table-display-td-th .table__th{
    display: table-cell;
    height: 20px;
    padding: 3px;
}
.table-display-tr .table__tr {
    display: table-row;
    text-align: center;
    background-color: #fff;
}