div.title Board
    div.text Create a board for family memories, travel, weddings, reunions hobbies and for everyday moments you wont to share to stay connected.
    div.bulb
div.container
    div.row.justify-content-between.marg-0
        div.col-md-auto.pad-0 Family History
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-full(src='../images/icons/test.png' alt='Image not found')
        div.col-md-auto.pad-0 The Lake House
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-full(src='#' alt='Image not found')
        div.col-md-auto.pad-0 Barney
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-full(src='#' alt='Image not found')

        div.col-md-auto.pad-0 Closet Lookbook
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='#' alt='Image not found')
                div.col.pad-0
                    img.img-container-md.margin-img-left-6(src='#' alt='Image not found')
        div.col-md-auto.pad-0 Everyday Moments
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='../images/icons/test.png' alt='Image not found')
                div.col.pad-0
                    img.img-container-md.margin-img-left-6(src='../images/icons/test2.png' alt='Image not found')
        div.col-md-auto.pad-0 Max & Addie
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='#' alt='Image not found')
                div.col.pad-0
                    img.img-container-md.margin-img-left-6(src='#' alt='Image not found')

        div.col-md-auto.pad-0 Tahoe
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='#' alt='Image not found')
                div.col.pad-0
                    img.img-container-sm.border-radius-top-r-15.margin-img-left-6.margin-img-bot-6(src='#' alt='Image not found')
                    img.img-container-sm.border-radius-bot-r-15.margin-img-left-6(src='#' alt='Image not found')
        div.col-md-auto.pad-0 Travels 2018
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='#' alt='Image not found')
                div.col.pad-0
                    img.img-container-sm.border-radius-top-r-15.margin-img-left-6.margin-img-bot-6(src='#' alt='Image not found')
                    img.img-container-sm.border-radius-bot-r-15.margin-img-left-6(src='#' alt='Image not found')
        div.col-md-auto.pad-0 Patrick & Emily`s Wedding
            div.row.marg-0.cell-size
                div.col-auto.pad-0
                    img.img-container-lg(src='../images/icons/test.png' alt='Image not found')
                div.col.pad-0
                    img.img-container-sm.border-radius-top-r-15.margin-img-left-6.margin-img-bot-6(src='../images/icons/test.png' alt='Image not found')
                    img.img-container-sm.border-radius-bot-r-15.margin-img-left-6(src='../images/icons/test2.png' alt='Image not found')
div.marg-0.new-board
    div.left.new-board-text Create new board
    div.tip.icon
    a(href='#').new-board-1.icon