header
    div
        a.icon.logo.logo-style(href='#') Capture
    div
        div.icon.search
        input.input-search(type=text)
    div
        a(href='#').icon.notification
            div.enumerator-header 5
        a(href='#').icon.profile
        a(href='#').icon.menu
    div.header-shadowline