header.row.line-height
    div
        a.icon.logo.logo-style(href='#') Capture
    div
        input.input-search(type=text)
        div.icon.search
    div
        a(href='#').icon.notification
            div.enumerator-header 5
        a(href='#').icon.profile
        a(href='#').icon.menu
    div.header-shadowline