div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-offer(role="document")
        div.special-offer SPECIAL OFFER
        div.offer-text #[b A Year of Unlimited Storage, FREE!] This one-time offer expires in #[b 23:58:17]
        a(href='#') Click for details