div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-general-error(role="document")
        div.modal-content.row
            div.col-12.invite-photo(style='background-image: url("static/img/face.png")')
            div.col-12 #[b Jenny Tan] invite you to join the board:
            div.col-12 #[b Family History]
            div.col-12
                button.btm-modal JOIN BOARD
            div.col-12 Decline