div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-general-error(role="document")
        div.modal-content.row
            div.col-12.icon.logo-no-access.label-general-error Oops, No Access:(
            div.col-12 You do not have access to he requested page.
            div.col-12 Please #[a(href="#") email us] if you feel this is an error.
            div.col-12
                button.btm-modal CLOSE