div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-general-error(role="document")
        div.modal-content.row
            div.col-12.label-general-error Well, this is embarassing!
            div.col-12.icon.logo-general-error
            div.col-12 Please check your connection then click refresh.
            div.col-12 Please #[a(href="#") email us] if things still look broken.
            div.col-12
                button.btm-modal OK