div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-window(role="document")
        div.modal-content
            div.modal-header.justify-content-normal
                div.bulb.icon
                div.modal-text Check out these board for ideas..
                div.icon.close
            div.board-list.row.justify-content
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')
                div.gallery
                    div.gallery-item-header
                        div Some name
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test.png")')