div.modal.show(id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
    div.modal-window(role="document")
        div.modal-content
            div.modal-header.justify-content-normal
                div.bulb.icon
                div.modal-text Check out these board for ideas..
                div.icon.close
            div.gallery
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        a Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')
                div.gallery-item
                    div.gallery-item-header
                        div.enumerator 5
                        div Some name
                            a(href='#').icon.plus.right
                            a(href='#').icon.menu-1.right
                    a.gallery-item-content.size-3
                        div(style='background-image: url("static/img/test.png")')
                        div(style='background-image: url("static/img/face.png")')
                        div(style='background-image: url("static/img/test2.png")')