@import "../components/buttons/but-sing_out";
.aside{
  width: 240px;
  height: 1020px;
  background-color: #2b3842;
  box-sizing: border-box;
  .sidebar-corect{
    width: 150px;
    position: relative;
    float: right;
    padding-top: 15px;
  }
  .aside-head{
    width: 240px;
    height: 70px;
    background-color: #050d25;
    color: #eee;
    text-align: center;
    font-size: 45px;
    padding: 8px;
    box-sizing: border-box;
  }
  .box-size{
    box-sizing: border-box;
  }
  .aside-menu{
    .img-sidebar{
      padding: 10px 0 0 33px ;
    }
    .aside-hover:hover{
      background-color: #050d25;
      color: #fff;
      cursor: pointer;
    }

    .clear{
      height: 50px;
    }

  }
}