extends master

block sub-header
    div.sub-header
        div.title Boards
        div
            button.btn-bords All
            button.btn-bords.active-btn Mine
            div.icon.bulb.right
        div
            a.choise-mind
                div.top
                div.bot
            a.choise-mind.active
                div.top-l
                div.top-r
                div.bot-l
                div.bot-r
block content
    div.container-full
        div.gallery
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    a Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    a Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    a Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
            div.gallery-item
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                a.gallery-item-compact
                    div(style='background-image: url("static/img/test.png")')
block new-board
    div.new-board-fixed
        a(href='#').new-board.icon