extends master

block sub-header
    div.row.justify-content-between.w-100
        div.title Boards
        div
            button.btn-bords.active-btn All
            button.btn-bords Mine
            div.bulb-1
        div
            a.choise-mind.active
                div.top
                div.bot
            a.choise-mind
                div.top-l
                div.top-r
                div.bot-l
                div.bot-r
block content
    div.container-full
        div.board-list.row.justify-content
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
            div.gallery-item-margin
                div.gallery-item-header
                    div.enumerator 5
                    div Some name
                        a(href='#').icon.plus
                        a(href='#').icon.menu-1
                a.gallery-item.size-3
                    div(style='background-image: url("../images/icons/test.png")')
                    div(style='background-image: url("../images/icons/face.png")')
                    div(style='background-image: url("../images/icons/test.png")')
block new-board
    div.new-board-fixed
        a(href='#').new-board-1.icon