extends master

block content
    span.icon.logo
    span.icon.menu
    span.icon.notification
    span.icon.profile
    span.icon.search
    span.icon.plus
    span.icon.menu-1
    span.icon.close
    span.icon.new-board
    span.icon.bulb
    span.icon.bulb-full
    span.icon.tip