extends master

block sub-header
    div.title Boards
        div.text Create a board for family memories, travel, weddings, reunions hobbies and for everyday moments you wont to share to stay connected.

block content
    div.container
        div.label-ideas
            div.bulb.icon
            div.p Ideas
        div.gallery-ideas
            a.gallery-item.gallery-item-content.size-1
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.gallery-item-content.size-2
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/test2.png")')
            a.gallery-item.gallery-item-content.size-3
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/face.png")')
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.gallery-item-content.size-1
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.gallery-item-content.size-2
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/test2.png")')
            a.gallery-item.gallery-item-content.size-3
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/face.png")')
                div(style='background-image: url("static/img/test.png")')

block new-board
    div.new-board-bot
        div.left.new-board-text Create new board
        div.tip.icon
        a(href='#').new-board.icon