extends master

block sub-header
    div.title Board
        div.text Create a board for family memories, travel, weddings, reunions hobbies and for everyday moments you wont to share to stay connected.
        div.bulb
block content
    div.ideas.row.justify-content-md-center
        a.gallery-item.size-1
            div
        a.gallery-item.size-2
            div
            div
        a.gallery-item.size-3
            div
            div
            div
        a.gallery-item.size-1
            div
        a.gallery-item.size-2
            div
            div
        a.gallery-item.size-3
            div
            div
            div

block new-board
    div.marg-0.new-board
    div.left.new-board-text Create new board
    div.tip.icon
    a(href='#').new-board-1.icon