extends master

block sub-header
    div.title Board
        div.text Create a board for family memories, travel, weddings, reunions hobbies and for everyday moments you wont to share to stay connected.
block content
    div.container
        div.bulb
        div.ideas.row.justify-content-md-center
            a.gallery-item.size-1
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.size-2
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/test2.png")')
            a.gallery-item.size-3
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/face.png")')
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.size-1
                div(style='background-image: url("static/img/test.png")')
            a.gallery-item.size-2
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/test2.png")')
            a.gallery-item.size-3
                div(style='background-image: url("static/img/test.png")')
                div(style='background-image: url("static/img/face.png")')
                div(style='background-image: url("static/img/test.png")')

block new-board
    div.new-board-bot
        div.left.new-board-text Create new board
        div.tip.icon
        a(href='#').new-board-1.icon