extends master

block sub-header
    div.title Board
        div.text Create a board for family memories, travel, weddings, reunions hobbies and for everyday moments you wont to share to stay connected.
        div.bulb
block content
    div.ideas.row.justify-content-md-center
        a.gallery-item.size-1
            div(style='background-image: url("../images/icons/test.png")')
        a.gallery-item.size-2
            div(style='background-image: url("../images/icons/test.png")')
            div(style='background-image: url("../images/icons/test2.png")')
        a.gallery-item.size-3
            div(style='background-image: url("../images/icons/test.png")')
            div(style='background-image: url("../images/icons/face.png")')
            div(style='background-image: url("../images/icons/test.png")')
        a.gallery-item.size-1
            div(style='background-image: url("../images/icons/test.png")')
        a.gallery-item.size-2
            div(style='background-image: url("../images/icons/test.png")')
            div(style='background-image: url("../images/icons/test2.png")')
        a.gallery-item.size-3
            div(style='background-image: url("../images/icons/test.png")')
            div(style='background-image: url("../images/icons/face.png")')
            div(style='background-image: url("../images/icons/test.png")')

block new-board
    div.left.new-board-text Create new board
    div.tip.icon
    a(href='#').new-board-1.icon