doctype
html
    head
        include ./includes/head
    body
        include ./includes/modal-window
        div
            include ./includes/header
            div
                div.sub-header
                    block sub-header
                block content
                block new-board
