doctype
html
    head
        include ./includes/head
    body
        include ./includes/modal-window
        div
            include ./includes/header
            div
                block sub-header
                block content
                block new-board
