doctype
html
    head
        include ./includes/head
    body
        include ./includes/modal-board
        include ./includes/modal-general-error
        include ./includes/modal-no-access
        include ./includes/modal-invite
        include ./includes/modal-offer
        div
            include ./includes/header
            div
                block sub-header
                block content
                block new-board
