doctype
html
    head
        include ./includes/head
    body
        div
            include ./includes/header
            div
                div.sub-header
                    block sub-header
                div.container
                    block content
                div.new-board
                    block new-board