*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  height: 100%;
}
body{
  background-color: #f2f4f6 !important;
}
.right {
  float: right;
}
.left {
  float: left;
}
a{
  text-decoration: none;
}
.margin-0{
  margin: 0 !important;
}