.btn-bords {
  background-color: #d7d7d7;
  font-size: 22px;
  border: none ;
  border-radius: 10px;
  width: 80px;
  height: 42px;
  margin-left: 15px;
  cursor: pointer;
  outline: none !important;
}
.active-btn {
  background-color: #241f1f !important;
  color: #fff !important;
}
.btm-modal{
  width: 270px;
  height: 70px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #000;
  font-weight: bold;
  outline: none !important;
  cursor: pointer;
}