.new-board-fixed{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.new-board-bot{
  display: inline-block;
  float: right;
  padding-right: 32px;
}
.new-board-text{
  font-size: 30px;
  color: #737374;
  line-height: 2;
  padding: 10px 25px 0 0;
}
@media screen and (max-width: 600px){
 .tip{
   display: none !important;
 }
}
@media screen and (max-width: 430px) {
  .new-board-text {
    display: none !important;
  }
}
.board-list{
  margin: -20px 60px 0 45px;
  font-size: 19px;
}
.enumerator {
  height: 20px;
  min-width: 20px;
  position: absolute;
  background-color: #f93a53;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 20px;
  padding: 0 2px;
  margin-left: 115px;
  margin-top: 5px;
}
.pad-left-20{
  padding-left: 20px;
}