
.new-board{
  display: inline-block;
  float: right;
  padding-right: 32px;
}
.new-board-text{
  font-size: 30px;
  color: #737374;
  line-height: 2;
  padding: 10px 25px 0 0;
}
@media screen and (max-width: 600px){
 .tip{
   display: none !important;
 }
}
@media screen and (max-width: 430px) {
  .new-board-text {
    display: none !important;
  }
}