.new-board-fixed{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.new-board-bot{
  display: inline-block;
  float: right;
  padding-right: 32px;
  .icon.tip{
    margin: 0 30px 30px 0;
  }
}
.new-board-text{
  font-size: 30px;
  color: #737374;
  line-height: 2;
  padding: 10px 25px 0 0;
}
@media screen and (max-width: 600px){
 .tip{
   display: none !important;
 }
}
@media screen and (max-width: 430px) {
  .new-board-text {
    display: none !important;
  }
}
%gallery-all{
  font-size: 19px;
  display: flex;
  flex-wrap: wrap;
}
.gallery-ideas{
  @extend %gallery-all;
}
.gallery{
  @extend %gallery-all;
  margin: 0 65px 0 45px;
  .icon.plus{
    margin: -5px 0px 0px 0px;
  }
  .icon.menu-1{
    margin: 10px 15px 0 0;
  }
}
.enumerator {
  height: 20px;
  min-width: 20px;
  position: absolute;
  background-color: #f93a53;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 20px;
  padding: 0 5px;
  margin-left: 115px;
  margin-top: 5px;
}
.pad-left-20{
  padding-left: 20px;
}
.container{
  .label-ideas{
    margin: 30px 0;
    display: flex;
    justify-content: center;
  }
  .p{
    font-size: 28px;
    padding-left: 10px;
  }
}
.container-full{
  .gallery>.gallery-item{
    margin: 0 45px 30px 0;
  }
}