$gWidth:  350px;
$gHeight: 172px;
$gWidthFirstColumn:  $gWidth * 0.66;
$gWidthLastColumn:   $gWidth * 0.32;
$gHeightFirstColumn: $gHeight / 2.1;
$gBorderRadius:      15px;
.gallery-item-header{
  padding-bottom: 5px;
}

.gallery-ideas>.gallery-item{
    margin: 0 10px 30px 10px;
}


.gallery>.gallery-item{
    margin: 0 22px 30px 22px;
}
.modal-content>.gallery{
  margin-top: 15px;
}
%gallery-all{
  font-size: 19px;
  display: flex;
  flex-wrap: wrap;
}
.gallery-ideas{
  @extend %gallery-all;
}
.gallery{
  @extend %gallery-all;
  margin: 0 22px 0 22px;
  .icon.plus{
    margin: -5px 0px 0px 0px;
  }
  .icon.menu-1{
    margin: 10px 15px 0 0;
  }
}
.gallery-item-compact{
  div {
    display: block;
    position: relative;
    border-radius: $gBorderRadius;
    background-position: center;
    background-size: cover;
    width: $gWidthFirstColumn;
    height: $gHeight;
  }
}
.gallery-item-content {
  display: block;
  position: relative;
  width: $gWidth;
  height: $gHeight;
  border-radius: 15px;
  &.size-1{
    div:first-child {
      width: $gWidth;
      height: $gHeight;
      background-position: center;
      background-size: cover;
      border-radius: $gBorderRadius;
    }
  }
  &.size-2 {
    div:first-child {
      width: $gWidthFirstColumn;
      height: $gHeight;
      background-position: center;
      background-size: cover;
      border-radius: $gBorderRadius 0 0 $gBorderRadius;
    }
    div:last-child {
      width: $gWidthLastColumn;
      height: $gHeight;
      position: absolute;
      top: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      border-radius: 0 $gBorderRadius $gBorderRadius 0;
    }
  }
  &.size-3 {
    div:first-child {
      width: $gWidthFirstColumn;
      height: $gHeight;
      background-position: center;
      background-size: cover;
      border-radius: $gBorderRadius 0 0 $gBorderRadius;
    }
    div:first-child + div {
      width: $gWidthLastColumn;
      height: $gHeightFirstColumn;
      position: absolute;
      top: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      border-radius: 0 $gBorderRadius 0 0;
    }
    div:last-child {
      width: $gWidthLastColumn;
      height: $gHeightFirstColumn;
      position: absolute;
      bottom: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      border-radius: 0 0 $gBorderRadius 0;
    }
  }
}