header {
  height: 90px;
  width: 100%;
  min-width: 800px !important;
  background-color: #fdfeff;
  justify-content: space-between;
  margin: 0 !important;
  line-height: 65px;
  padding-top: 25px;
  .logo-style{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-style: normal;
    line-height: 46px;
    padding-left: 65px;
  }
  .enumerator-header {
    height: 20px;
    min-width: 20px;
    position: absolute;
    background-color: #f93a53;
    border-radius: 10px;
    margin: 0 0 0 18px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 20px;
    padding: 0 2px;
  }
  .header-shadowline {
    width: 100%;
    height: 10px;
    background-color: #989898;
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.15);
  }
}