.icon {
  display: inline-block;
  background-repeat: no-repeat;
  align-content: center;
  &.logo{
    width: 50px;
    height: 48px;
    background-image: url("../../images/icons/logo.png");
  }
  &.menu{
    width: 32px;
    height: 7px;
    background-image: url("../../images/icons/menu.png");
  }
  &.notification{
    width: 30px;
    height: 36px;
    background-image: url("../../images/icons/notification.png");
  }
  &.profile{
    width: 33px;
    height: 31px;
    background-image: url("../../images/icons/profile.png");
  }
  &.search{
    width: 23px;
    height: 24px;
    background-image: url("../../images/icons/search.png");
   }
  &.plus{
    width: 32px;
    height: 31px;
    background-image: url("../../images/icons/plus.png");
  }
  &.menu-1{
    width: 29px;
    height: 5px;
    background-image: url("../../images/icons/menu-1.png");
  }
  &.close{
    background-image: url("../../images/icons/close.png");
    width: 17px;
    height: 17px;
  }
  &.new-board{
    background-image: url("../../images/icons/new-board.png");
    width: 79px;
    height: 79px;
    border-radius: 39.5px;
    box-shadow: 5px 9px 30px 0 rgba(0, 0, 0, 0.15);
  }
  &.bulb {
    background-image: url("../../images/icons/bulb.png");
    width: 37px;
    height: 40px;
  }
  &.bulb-full{
    background-image: url("../../images/icons/bulb-full.png");
    width: 117px;
    height: 40px;
  }
  &.tip {
    background-image: url("../../images/icons/tip.png");
    width: 159px;
    height: 21px;
  }
}

