.sub-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0;
  .bulb{
    margin-left: 25px;
  }
}
.title{
  font-size: 32px;
  padding: 0 0 0 45px;
}
.text {
  font-size: 24px;
  color: #737374;
  margin: auto;
  line-height: 32px;
}
.choise-mind{
  width: 35px;
  height: 35px;
  float: left;
  margin: 0 10px;
  .top{
    width: 35px;
    height: 15px;
    border: solid 2px #a5a6a7;
  }
  .bot{
    width: 35px;
    height: 15px;
    border: solid 2px #a5a6a7;
    margin-top: 5px;
  }
  .top-l{
    width: 15px;
    height: 15px;
    border: solid 2px #a5a6a7;
    margin: 0 5px 0 0;
    float: left;
  }
  .top-r{
    width: 15px;
    height: 15px;
    border: solid 2px #a5a6a7;
    float: left;
  }
  .bot-l{
    width: 15px;
    height: 15px;
    border: solid 2px #a5a6a7;
    margin: 5px 5px 0 0;
    float: left;
  }
  .bot-r{
    width: 15px;
    height: 15px;
    border: solid 2px #a5a6a7;
    margin-top: 5px;
    float: left;
  }
}
.active{
  div{
    border-color: #595959!important;
  }
}