.input-pos_system {
  width: 345px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #cdeff8;
  display: block;
  flex-basis: auto;
  margin: 10px 0 25px 0;
  font-size: 14px;
  padding-left: 10px; }

.input-pos_system:focus {
  border-color: #00add8;
  outline: none; }
