.navigation {
  float: right;
  position: relative;
  width: 605px;
  height: 40px;
  margin: 50px 105px 0 0;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid #979797;
  box-sizing: border-box;
  padding: 0;
}
.navigation-li{
  height: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
.navigation-font{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .5px;
}
.a-decoration{
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 0 19px 0 19px;
}
.Venue-Information{
  border-left: none;
}
.a-decoration:focus{
  color: #00add8;
}
