.table-top_menu {
  float: right;
  position: relative;
  width: 605px;
  height: 40px;
  margin: 50px 90px 0 0;
  text-align: center;
  border-radius: 5px; }

.table_td, .table-top_menu {
  border: solid 2px #979797;
  border-collapse: collapse;
  color: #000; }

.table_font {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: .5px; }

.a_decoration {
  text-decoration: none;
  color: #000; }
