doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="style.css")
        title test site
    body
        div.container
            header.header
            aside.aside
                div.aside-menu.aside-hover
                    div.aside-head.box-size.aside-hover QORUM
                    div.clear
                    div.venues.box-size.aside-hover Venues
                    div.market.box-size.aside-hover Markets
                    div.ridesafe.box-size.aside-hover Ridesafe
                    div.users.box-size.aside-hover Users
