doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="style.css")
    body
        form
            input.text( type="text" placeholder="your name")
            input.serch(type="search")
            input.mail(type="email")
            input.file(type="file" multiple)