doctype
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500")
        link(rel="stylesheet" href="scss/normilize.css")
        link(rel="stylesheet" href="scss/style.css")
        title test site
    body
        div.container
            header.header.box-size
                div.head-elements
                    div.sing-out Sing out
            aside.aside
                div.aside-menu.aside-hover
                    div.aside-head.box-size.aside-hover
                        img(src="icons/grupe-2/group-2.svg")
                    div.clear
                    div.venues.box-size.aside-hover a(Venues)
                        img(src="icons/venues/venues.svg")
                    div.market.box-size.aside-hover Markets
                        img(src="icons/markets/markets.svg")
                    div.ridesafe.box-size.aside-hover Ridesafe
                        img(src="icons/ridesafe/ridesafe.svg")
                    div.users.box-size.aside-hover Users
                        img(src="icons/user-admin/user-admin.svg")
