.caption_pos-system{
  width: 1040px;
  height: 50px;
  position: relative;
  display: block;
  float: right;
  box-sizing: border-box;
  margin-top: 50px;
}
.strip{
  width: 5px;
  height: 50px;
  position: relative;
  background-color: $grey;
  float: left;
}
.txt_pos-system{
  position: relative;
  float: left;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000;
  margin-left: 30px;
  margin-top: 10px;
}
.line{
  position: relative;
  float: left;
  width: 810px;
  height: 1px;
  border: solid 1px $grey;
  background-color: $grey;
  margin-left: 20px;
  margin-top: 23px;
}
.bar_pos-system{
  width: 1040px;
  height: 22px;
  position: relative;
  float: right;
  margin-top: 50px;
}
.txt_bar_pos-sysytem{
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000;
}