.but-sing_out {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  padding: 0;
  outline: none;
}
.but-sing_out:active{
  color: #00add8;
}