@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/bootstrap";

@import "./includes/base";
@import "./includes/content";
@import "./includes/header";
@import "./includes/icons";
@import "./includes/inputs";
@import "./includes/gallery-item";
@import "./includes/sub-header";
@import "./includes/buttons";
@import "./includes/modal-windows";
@import "./includes/constants";
