doctype
html
    head
       include ./includes/head
    body
        div.container
            include ./includes/aside
            include ./includes/header
            include ./includes/contet
            div.content
                block content