aside {
  width: 240px;
  height: 100%;
  background-color: $grey-dark;
  box-sizing: border-box;
  .aside-menu{
    position: absolute;
  }
  .aside-head {
    width: 240px;
    height: 70px;
    background-color: $dark;
    text-align: center;
    font-size: 45px;
    padding: 16px;
    box-sizing: border-box;
  }
  .size-elements{
    height: 50px;
    width: 100%;
  }
  a{
    color: #aeaeae;
    text-align: center;
  }
  .aside-hover:hover{
    background-color: $dark;
    color: #fff;
    cursor: pointer;
  }
  .aside-focus:focus{
    background-color: $dark;
    color: #fff;
  }
}