aside {
  width: 240px;
  height: 100%;
  background-color: $grey-dark;
  box-sizing: border-box;
  float: left;

  .aside-head {
    width: 240px;
    height: 70px;
    background-color: $dark;
    text-align: center;
    font-size: 45px;
    padding: 16px;
    box-sizing: border-box;
  }
  .size-elements{
    height: 50px;
    width: 100%;
  }
  a{
    color: #aeaeae;
    text-align: center;
  }
  .aside-hover:hover{
    background-color: $dark;
    color: #fff;
    cursor: pointer;
  }
  .icon-position{
    padding: 10px 0 0 58px;
    margin: 9px 0 0 32px;
  }
}
