.card {
  max-width: 840px;
  height: 595px;
  background-color: $white;
  margin: 30px 0 0 320px;
  padding-top: 15px;
  transition: margin-left 0.1s;
}
@media screen and (max-width: $md){
  .card{
    max-width: 620px !important;
    height: 1190px !important;
    margin: 30px 20px 0 20px !important;
  }
}
@media screen and (max-width: $xl){
  .card{
    margin: 30px 20px 0 80px !important;
  }
}