@import "../components/buttons/but_save.css";
@import "../components/buttons/but-venue_list.css";
@import "../components/navigation.css";
@import "../components/container_pos-system.css";
@import "../components/caption_pos-system.css";
.content{
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 1125px;
}