.content {
  width: 100%;
  height: 100%;

  // Navigation style

  .navigation-bar {
    height: 40px;
    margin: 50px 0 0 0;
    justify-content: space-evenly;
  }
  .select {
    display: none;
    select {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 2px solid $grey;
      background-color: #f1f3f6;
      outline: none;
    }
  }
  .navigation {
    width: 605px;
    height: 40px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid $grey;
    padding: 0;
    li {
      height: 40px;
      display: inline-block;
      text-align: center;
      padding-top: 10px;
    }
  }
  .navigation-font {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5px;
  }
  .a-decoration {
    text-decoration: none;
    color: $black;
    text-align: center;
    padding: 0 19px 0 19px;
  }
  .Venue-Information {
    border-left: none;
  }
  .a-decoration:focus {
    color: $blue;
  }

  // POS System style

  p {
    margin: 0;
    color: $black;
  }
}


// Caption POS System style

.caption_pos-system{
  display: flex;
  margin-top: 50px;
  padding-left: 80px;
}
.strip{
  width: 5px;
  height: 50px;
  background-color: $grey;
}
.p-pos_system{
  position: absolute;
}
.txt_pos-system{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 2;
  color: $black !important;
  width: 185px !important;
  padding-left: 30px;
}
.line{
  width: 72%;
  height: 1px;
  border: solid 1px $grey;
  background-color: $grey;
  margin-left: 20px;
  margin-top: 23px;
}
.bar_pos-system{
  display: flex;
  padding-left: 80px;
  margin-top: 50px;
}
.txt_bar_pos-system{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: $black;
}