.row {
  display: flex;
  flex-wrap: wrap;
  .col {
    max-width: 100%;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
}
@media screen and (max-width: $md){
  .col{
    flex-basis: auto !important;
  }
}