header {
  width: 100%;
  padding: 23px 0 24px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  > * {
    padding: 0 36px 0 0;
    margin-top: 3px;
  }
  .burger {
    margin: 0 0 0 32px;
  }
  .enumerator {
    height: 15px;
    min-width: 15px;
    position: absolute;
    background-color: #00e19c;
    border-radius: 7.5px;
    margin: -7px 0px 0px 10px;
    font-size: 9px;
    font-weight: 500;
    color: $white;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 15px;
    padding: 0 2px;
  }
}