@import url(../components/buttons/but-sing_out.css);
.header {
  width: 1125px;
  height: 70px;
  float: right;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .header .header-elements .img-combined-shape {
    position: relative;
    margin: 25px 0 25px 80px; }
  .header .header-elements .header-aside {
    width: 260px;
    float: right;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 0; }
  .header .header-elements .but-sing_out {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding: 0; }
  .header .header-elements .img-shape {
    padding: 25px 36px 0 0; }
  .header .header-elements .img-history {
    padding: 19px 34px 0 0; }
  .header .header-elements .img-grupe-7 {
    padding: 21px 20px 0 20px; }
