.icon {
  display: inline-block;
  background-repeat: no-repeat;
  align-content: center;
  &.shape {
    background-image: url("../../images/icons/shape.svg");
    width: 20px;
    height: 20px;
    padding: 0 36px 0 0;
    margin-top: 3px;
  }
  &.sing-out {
    background-image: url("../../images/icons/sing-out.svg");
    width: 20px;
    height: 20px;
    padding: 0 20px 0 0;
  }
  &.history {
    background-image: url("../../images/icons/history.svg");
    width: 20px;
    height: 20px;
    padding: 5px 34px 0 0;
    margin-top: -3px;
  }
  &.combined-shape {
    background-image: url("../../images/icons/combined-shape.svg");
    width: 26px;
    height: 20px;
    margin-left: 80px;
  }

  &.venue {
    background-image: url("../../images/icons/venue.svg");
    width: 30px;
    height: 30px;
    padding: 10px 0 0 58px;
    margin: 7px 0 0 32px;
  }
  &.market {
    background-image: url("../../images/icons/market.svg");
    width: 30px;
    height: 30px;
    padding: 10px 0 0 58px;
    margin: 7px 0 0 32px;
  }
  &.ridesafe {
    background-image: url("../../images/icons/ridesafe.svg");
    width: 30px;
    height: 30px;
    padding: 10px 0 0 58px;
    margin: 7px 0 0 32px;
  }
  &.user {
    background-image: url("../../images/icons/user.svg");
    width: 30px;
    height: 30px;
    padding: 10px 0 0 58px;
    margin: 7px 0 0 32px;
  }
  &.qurum-lable{
    background-image: url("../../images/icons/qurum-lable.svg");
    width: 100%;
    height: 100%;
  }

}