.icon {
  display: inline-block;
  background-repeat: no-repeat;
  align-content: center;
  &.shape {
    background-image: url("../../images/icons/shape.svg");
    width: 20px;
    height: 20px;
  }
  &.sing-out {
    background-image: url("../../images/icons/sing-out.svg");
    width: 21px;
    height: 20px;
  }
  &.history {
    background-image: url("../../images/icons/history-clear.svg");
    width: 20px;
    height: 20px;
  }
  &.combined-shape {
    background-image: url("../../images/icons/combined-shape.svg");
    width: 25px;
    height: 20px;
  }
  &.venue {
    background-image: url("../../images/icons/venue.svg");
    width: 26px;
    height: 26px;
  }
  &.market {
    background-image: url("../../images/icons/market.svg");
    width: 15px;
    height: 24px;
  }
  &.ridesafe {
    background-image: url("../../images/icons/ridesafe.svg");
    width: 35px;
    height: 26px;
  }
  &.user {
    background-image: url("../../images/icons/user.svg");
    width: 22px;
    height: 25px;
  }
  &.qurum-lable{
    background-image: url("../../images/icons/qurum-lable.svg");
    width: 100%;
    height: 100%;
  }
}