aside
    div.aside-menu
        div.aside-head.aside-hover
            a(href='#').icon.qurum-lable
        div.size-elements
        div.aside-hover.size-elements
            a(href='#').icon.venue Venues
        div.aside-hover.size-elements
            a(href='#').icon.market Markets
        div.aside-hover.size-elements
            a(href='#').icon.ridesafe Ridesafe
        div.aside-hover.size-elements
            a(href='#').icon.user Users
