aside.full
    div.aside-head.aside-hover
        a(href='#').icon.qurum-lable
    div.size-elements
    div.aside-hover.size-elements
        a(href='#').icon.venue.icon-position Venues
    div.aside-hover.size-elements
        a(href='#').icon.market.icon-position Markets
    div.aside-hover.size-elements
        a(href='#').icon.ridesafe.icon-position Ridesafe
    div.aside-hover.size-elements
        a(href='#').icon.user.icon-position Users
