aside.aside
    div.aside-menu.aside-hover.aside-focus
        div.aside-head.box-size.aside-hover.aside-elements
            img(src='../icons/grupe-2/group-2.svg')
        div.clear.aside-elements
        div.venues.box-size.aside-hover.aside-elements
            img.img-sidebar(src='../icons/venues/venues.svg')
            span.sidebar-corect
                a.venues.aside-elements(href='#') Venues
        div.venues.box-size.aside-hover.aside-elements
            img.img-sidebar(src='../icons/markets/markets.svg')
            span.sidebar-corect
                a.venues.aside-elements(href='#') Markets
        div.venues.box-size.aside-hover.aside-elements
            img.img-sidebar(src='../icons/ridesafe/ridesafe.svg')
            span.sidebar-corect
                a.venues.aside-elements(href='#') Ridesafe
        div.venues.box-size.aside-hover.aside-elements
            img.img-sidebar(src='../icons/user-admin/user-admin.svg')
            span.sidebar-corect
                a.venues.aside-elements(href='#') Users
