div.content
    div.navigation-bar.row
        button.but-venue_list.col Venue list
        div.select
            select
                option(value=1) Venue Information
                option(value=2) Features
                option(value=3) POS System
                option(value=4) Media
                option(value=5) Beacons
        ul.navigation.col
            li.navigation-font.navigation-li.Venue-Information
                a.a-decoration(href='#') Venue Information
            li.table_font.navigation-li.Features
                a.a-decoration(href='#') Features
            li.table_font.navigation-li.POS-System
                a.a-decoration(href='#') POS System
            li.table_font.navigation-li.Media
                a.a-decoration(href='#') Media
            li.table_font.navigation-li.Beacons
                a.a-decoration(href='#') Beacons
        button.but-save.col Save
    div.caption_pos-system
        div.strip
        p.txt_pos-system POS System
        div.line
    div.bar_pos-system
        p.txt_bar_pos-sysytem Bar POS System:
    div.pos_system
        div.container_pos-system
            form
                p Current POS aggregator*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Employee ID Method*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Aggregator Location ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Order Type ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Employee ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Order Type ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Revenue Center ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Tender Type ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option Promotion Discount ID*
                input.input-pos_system(type='text' placeholder='Text')
                p POS Option FreeDrinks Discount ID*
                input.input-pos_system(type='text' placeholder='Text')