.but-venue_list{
  position: relative;
  float: right;
  width: 100px;
  height: 40px;
  letter-spacing: .5px;
  border-radius: 5px;
  background-color: #00add8;
  color: #fff;
  margin: 50px 105px 0 0;
  cursor: pointer;
}